body {
	display: grid;
	grid-template-areas:
		'P'
		'T'
		'V';
}

.p {
	grid-area: P;
	position: relative;
	height: 0;
	padding-bottom: calc(3 / 4 * 100%);
}

.p picture,
.p img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.p img {
	object-fit: cover;
}

.t {
	grid-area: T;
}

.v {
	grid-area: V;
	position: relative;
	height: 0;
	padding-bottom: calc(315 / 560 * 100%);
}

.v iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
