.burger-icon {
	display: none;
}

.nav {
	flex-direction: row;
	margin: 5px;
	background-color: transparent;
	transform: translateX(0);
}

.nav__item {
	margin-left: 50px;
}

.nav__link {
	color: var(--color-default);
	border-top: 3px solid transparent;
	transition: color 0.3s, border-top-color 0.3s;
}

.nav__item:hover > .nav__link {
	color: var(--color-active);
	border-top-color: var(--color-active);
}

.nav__link--start {
	color: var(--color-active);
}

.nav__item--dropdown > .nav__link::after {
	transform: rotate(-90deg);
	transition: transform 0.3s ease;
}

.nav__item--dropdown:hover > .nav__link::after {
	transform: rotate(90deg);
}

.nav__dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin-left: 0;
	background-color: var(--color-default);
	min-width: 270px;
}

.nav__item--dropdown:hover > .nav__dropdown {
	display: block;
}

.dropdown__item {
	position: relative;
}

.nav__link--dropdown {
	display: block;
	padding: 10px 20px;
	color: var(--color-dropdown-text);
	text-decoration: none;
	text-transform: capitalize;
}

.nav__link--dropdown:hover {
	color: var(--color-active);
}
