:root {
	--color-active: rgb(0, 154, 225);
	--color-default: rgb(51, 51, 51);
	--color-dropdown-text: rgb(246, 246, 246);
}

body {
	overflow: hidden;
}

.burger-icon {
	position: relative;
	margin: 30px;
	width: 40px;
	height: 35px;
	border: 0;
	border-top: 5px solid var(--color-default);
	background: transparent;
	transition: 0.3s transform;
}

.burger-icon::before,
.burger-icon::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 5px solid var(--color-default);
	transform: translateY(10px);
}

.burger-icon::after {
	transform: translateY(25px);
	transition: 0.3s transform;
}

.burger-icon:focus {
	transform: rotate(45deg) translateY(5px);
	border: none;
}

.burger-icon:focus::after {
	transform: rotate(-90deg) translateX(-10px);
}

.burger-icon:focus ~ .nav,
.nav:hover {
	transform: translateX(0);
}

.nav {
	display: flex;
	flex-direction: column;
	top: 20px;
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: var(--color-default);
	transform: translateX(-100%);
	transition: 0.3s transform;
}

.nav__item {
	position: relative;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: var(--color-dropdown-text);
}

.nav__item:focus > .nav__link,
.nav__link:focus {
	color: var(--color-active);
}

.nav__item--dropdown > .nav__link::after {
	content: '>';
	display: inline-block;
	margin-left: 10px;
	transform: rotate(90deg);
}

.nav__dropdown {
	margin-left: 50px;
}
